<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Salón</title>
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Detalles del salon</h1>
    <table *ngIf="salon">
        <tr >
            <td >ID del Salón:</td>
            <td>{{salon.idSalon }}</td>
        </tr>
        <tr>
            <td >Nombre:</td>
            <td>{{salon.nombre }}</td>
        </tr>
        <tr>
            
            <td>
                
            </td>
            <td><div class="foto">
                    <img class="foto-img" [src]="salon.imagenUrl" alt="Foto del salón">
                  </div></td>
        </tr>
        <tr>
            <td>Capacidad:</td>
            <td>{{ salon.capacidad }}</td>
        </tr>
        <tr>
            <td>Ubicación:</td>
            <td>{{ salon.ubicacion }}</td>
        </tr>
        <tr>
            <td>Servicio Incluido:</td>
            <td>{{ salon.servicioIncluido }}</td>
        </tr>
      
        <tr>
            <td>Dueño:</td>
            <td>{{duenio.nombre}}</td>
        </tr>
        <tr>
            <td>Tel Dueño:</td>
            <td>{{ duenio.telefono}}</td>
        </tr>
        <tr>
            <td>Email Dueño:</td>
            <td>{{ duenio.email}}</td>
        </tr>
    </table>
</body>
</html>

