.calendar{
  max-width: 700px;
  margin: 30px auto;
  background-color: #ffffff;
  border-radius: 10px;
}

.tit-salones{
  color: #ffffff;
  text-align: center;
  
}
.vacio{
  height: 80px;
}
.fondoCa{
  background-color: #e3b9f7;
  max-width: 800px;
  margin: auto;
  padding: 5px;

  box-shadow: 0px 0px 20px rgb(74, 21, 104);
  border-radius: 10px;
}

.mensaje{
  background-color: #20082e;
  padding: 5px;
  border: 1px solid #7c515e;
  box-shadow: 0px 0px 20px rgb(74, 21, 104);
  border-radius: 10px;
  align-content: center;
  text-align: center;
  height: 45px;
  width: 70%; /* Ancho completo del container */
  margin-top: 80px;
  margin: auto;
  margin-bottom: 30px;
}
