.form{
    margin-top: 10px;
    

}
.margen{
    height: 100px;
}
.contenedor{
   
   
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center;
    background-color: #c49dee; /* Color de fondo para cada salón */
    border: 1px solid #d8bef1; /* Ancho, estilo y color del borde */
    box-shadow: 0px 0px 20px rgba(171, 0, 238, 0.5); /* Sombra */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 600px;
    margin: auto;

}
body{
    max-width: 100%;
    background: url('https://64.media.tumblr.com/374bb8048e0b95235eb1a31a3e21e4cd/c40b479a2a7f985d-c4/s400x600/a48d0615113c8191f7ad45a319b0fc5d1e88f97c.gif');
 background-size: cover;
 }
h4{
    text-align: center;
}
.boton-agregar{
    margin-bottom: 20px;
}
.mb-3{
    width: 550px;
   
}
.input-largo{
    height: 100px;
}