
.calendario {
    /* El calendario ocupará el 50% del ancho del contenedor */
   max-width: 470px; /* Ajusta el ancho máximo del calendario según tus necesidades */
   align-self: center;
   max-height: 600px;
   
   background-color: rgb(255, 255, 255);
   border-radius: 10px;

   
}
.fondoCa{
 
   flex: 1;
   max-width: 550px; /* Ajusta el ancho máximo del calendario según tus necesidades */
   margin-top: 90px;
   margin-left: 80px;
   max-height: 620px;
   
   background-color: hsl(138, 79%, 89%);
   border: 1px solid #d8bef1; /* Ancho, estilo y color del borde */
   box-shadow: 0px 0px 20px rgba(44, 175, 164, 0.5); /* Sombra */
}