/* styles.css */
body{
    background-color: #dedae2;
    border-radius: 10px;
}
.container {
  
    background-color: #dedae2; /* Color de fondo para el contenedor principal */
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar elementos horizontalmente en el contenedor */
    border-radius: 10px;
}
.tit-salones{
    color: #ffffff;
}
.btn-agregar{
    margin-left: 900px;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: #48098A;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(181, 137, 253, 0.5);
    border: 1px solid #c4a7f3;
    padding: 3px;;
    color: white;
}

.div-title {
    background-color: #160527;
    padding: 10px;
    border: 1px solid #67517c;
    box-shadow: 0px 0px 20px rgb(54, 13, 88);
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
    width: 100%; /* Ancho completo del container */
}


h1 {
    font-size: 24px; /* Tamaño de fuente más grande para el título */
    
}



.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.foto-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.salon-grid {
    display: flex;
    flex-wrap: wrap; /* Para que los salones se muestren lado a lado */
    gap: 20px; /* Espacio entre los salones */
    justify-content: center; /* Centrar elementos horizontalmente en el grid */
}

.salon-item {
    background-color: #ffffff; /* Color de fondo para cada salón */
    padding: 20px;
    border: 1px solid #ddd; /* Borde alrededor de cada salón */
    width: calc(33.33% - 20px); /* Ancho de cada salón para que haya tres por fila */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    align-self: flex-end;
}

.salon-details {
    font-size: 14px;
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center;
    text-align: center;
}
.nombre-salon{
    font-family: 'Boogaloo', sans-serif;
}

