<div class="container" style="margin-top: 70px; margin-left: 100px;">
    <div style="margin-left: 300px;">
      <h1>Lista de Salones de Eventos de {{ duenio.nombre }}</h1>
      <div class="salon-grid">
        <h2>{{ salon.nombre }}</h2>
        <div class="salon-item" *ngFor="let salon of duenio.salonEventoList">
          <div class="salon-details">
            <h2>{{ duenio.telefono }}</h2>
            <p>Dirección: {{ salon.ubicacion }}</p>
            <p>Capacidad: {{ salon.capacidad }}</p>
            <!-- Agrega más detalles del salón aquí si es necesario -->
            <!-- Agrega más detalles del salón aquí si es necesario -->
          </div>
        </div>
      </div>
    </div>
  </div>
