

  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>SALONES</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap" rel="stylesheet">
      
      
  </head>
  <body>
      <!-- Resto de tu contenido HTML -->
    <div class="container" style="margin-top: 70px; margin-left: 20px;">

    <div >
      <div class="div-title"><h1  class="tit-salones">TUS SALONES</h1></div>
      <button type="button" class="btn-agregar" (click)="navegarASalonesForm()">AGREGAR SALON</button>
      <div class="salon-grid">
        <div class="salon-item" *ngFor="let salon of salones">
          <div class="salon-details">
            <div class="foto">
              <img class="foto-img" [src]="salon.imagenUrl" alt="Foto del salón">
            </div>
             
            
          </div>
          <h2 class="nombre-salon"> {{ salon.nombre }}</h2>
          
          <div (click)="navigateToDetails(salon.idSalon)" style="cursor: pointer"><i class="fa-solid fa-eye fa-xl" style="color: #5c20a1;"  ></i>
        <div (click)="navigateToDisponibilidad(salon.idSalon)" style="cursor: pointer; margin-left: 260px;">
            <i class="fa-solid fa-calendar-check fa-xl" style="color: #270833;"></i>
          </div>
        </div>
        </div>
        
        
      </div>
    </div>
  </div>
  <div><router-outlet></router-outlet></div>
  </body>
  </html>
  

