.container {
    margin-top: 70px;
    background-color: #dbdad1; /* Color de fondo para el contenedor principal */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar elementos horizontalmente en el contenedor */
    height: auto;
    width: auto;
    margin-bottom: 70px;
}
.tit-salones{
    color: #ffffff;
    text-align: center;
    
}

.div-title{
    background-color: #490815;
    padding: 10px;
    border: 1px solid #7c515e;
    box-shadow: 0px 0px 20px rgb(78, 10, 33);
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
    width: 100%; /* Ancho completo del container */
    margin: 10px;
    height: 55px;

}

h1 {
    font-size: 24px; /* Tamaño de fuente más grande para el título */
}

.nombre-salon {
    font-size: 20px; /* Tamaño de fuente más grande para el título */
   
}
.ubicacion{
    font-size: 10px;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.foto-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.salon-grid {
    display: flex;
    flex-wrap: wrap; /* Para que los salones se muestren lado a lado */
    gap: 20px; /* Espacio entre los salones */
    justify-content: center; /* Centrar elementos horizontalmente en el grid */
}

.salon-item {
    background-color: #ffffff; /* Color de fondo para cada salón */
    padding: 20px;
    border: 1px solid #ddd; /* Borde alrededor de cada salón */
    width: calc(40.33% - 5px); /* Ancho de cada salón para que haya tres por fila */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    align-self: flex-end;
}

.salon-details {
 
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center;
    text-align: center;
}
.nombre-salon{
    font-family: 'Boogaloo', sans-serif;
}
/* Estilos para alinear elementos en una fila */
/* Estilos para alinear elementos en una fila */
/* Estilos para el contenedor del formulario */
.container {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para los elementos del formulario */
  .form-label {
    font-weight: bold;
    
    
  }
  
  .form-select, .form-control {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 175px;
  }
  
  .btn-primary {
    background-color: #a52343;
    color: #fff;
    padding-bottom: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-height: 35px;
    align-content: center;
    margin-bottom: 20px;
    max-width: 100px;
  }
  
  /* Estilos para el botón en estado hover */
  .btn-primary:hover {
    background-color: #0056b3;
  }
  