form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #b9a0d1;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }

  h2{
    font-family: 'El Messiri', sans-serif;
    font-size: 26px;
    color: #300741;
    text-align: center;
  }
  
  div {
    margin: 10px 0;
    text-align: left;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #333;
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container input,
  .input-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .input-container textarea {
    resize: vertical;
  }
  
  .button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  button[type="submit"],
  button[type="login"] {
    background-color: #6200ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  button[type="submit"]:hover,
  button[type="login"]:hover {
    background-color: #0056b3;
  }
  

  
  body {


    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    background-color: #e6dfe7;
    background-size: cover;
}