.offcanvas {
    background-color: #290713;
  }
  .custom-navbar {
      background-color: #A21D4C
      ; /* Cambia #FF0000 al código de color deseado */
    }
  
  .custom-icon {
      margin-right: 14px; 
    }
  
  .custom-title{
    color: #B5A3C8;
  }
  